ADMIN_PASSWORD = "CAMBIAR-POR-UNA-CLAVE-SEGURA"

[connections.gsheets]
spreadsheet = "https://docs.google.com/spreadsheets/d/TU-ID/edit"
worksheet = "solicitudes"
type = "service_account"
project_id = "TU-PROYECTO-GOOGLE-CLOUD"
private_key_id = "TU-PRIVATE-KEY-ID"
private_key = "-----BEGIN PRIVATE KEY-----\nTU-CLAVE-PRIVADA\n-----END PRIVATE KEY-----\n"
client_email = "TU-CUENTA-DE-SERVICIO@TU-PROYECTO.iam.gserviceaccount.com"
client_id = "TU-CLIENT-ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "TU-URL-CERTIFICADO"
